<link href="~/ProjectCss/User/InsertUpdateUser.css" rel="stylesheet"  asp-append-version=true/>
@model MODELS.BizUser.BizUserViewModel;
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateUser", "User", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        string hiddenDeptDesg = "";
        string colCountry = "";
        string colSize="";
        string colTypeHidden = "";
       
        <fieldset style="padding:1.25rem;">
            <div class="row">
                <div class="col-md-4" style="padding: 18px;padding-top:0px;padding-bottom:0px">
                    <div class="myDiv">
                        <img id="DocumentImage" src="test" style="margin-top: 28px;height: 161px;width:100%;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #a2a2a2;border-bottom:none" />
                        @*<img id="DocumentImage" src="@Model.ImagePath" style="margin-top: 28px;height: 161px;width:100%;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #a2a2a2;border-bottom:none" />*@
                        <a href="javascript:void(0)" title="Delete this Picture" data-value="0" style="background-color:#FD1381;font-size:14px;border-radius:50%;font-weight:bold;padding:5px;color:#fff;padding-left:9px;padding-right:9px" class="deleteImage DeleteImage">X</a>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ProfileImage">
                        <label class="custom-file-label" id="AttachDocument" for="ProfileImage" style="overflow:hidden">Choose Picture...</label>
                    </div>
                </div>
                <div class="col-md-8" style="margin-top:23px">
                    <div class="row">
           
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px">
                                <label>Full Name (*)</label>
                                <input type="hidden" id="UserId" name="UserId" value="@Model.BizUserId" />
                                <input type="hidden" id="HiddenTr" value="0" />
                                @*<input type="hidden" id="HiddenDocumentId" name="HiddenDocumentId" value="@Model.DocumentId" />*@
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-user"></i>
                                        </span>
                                    </div>
                                   
                                    @Html.TextBoxFor(a => a.UserName, new { @placeholder = "User Name", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-6" @colTypeHidden>
                            <div style="padding:5px;padding-top:0px">
                                <div class="input-group">
                                    <table class="" style="width: 100%;">
                                        <tr>
                                            <td style="width: 80%;">
                                                <label class="form-label">Select User Type (*)</label>
                                                <div class="input-group">
                                                    <select id="UserTypeId" name="UserTypeId"></select>
                                                </div>
                                            </td>
                                            <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                                <a href="javascript:void(0)" target="_blank" class="btn btn-primary btnPlusNewUserType" style="color: #fff;padding: 8.5px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;position:absolute;top: 38.5%;right: 0;" title="Add New User Type">
                                                    <i class="fas fa-plus" style=""></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    
                    <div class="row" style="margin-top:5px">
                        <section class="col-md-6">
                            <div style="padding:5px;padding-top:0px">
                                <label>Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-phone"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Email, new { @placeholder = "Email", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                        <section class="col-md-6">
                            <div style="padding:5px;padding-top:0px">
                                <label>Phone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-phone"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Phone, new { @placeholder = "Phone", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top:13px">
                    <div class="row">
                        <section class="col-md-12">
                            <div style="padding:5px;padding-top:0px">
                                <label>Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fal fa-map-marker"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(a => a.Address, new { @placeholder = "Address", @class = "form-control" })
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
           
        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>
    }
</div>
@*<script src="~/css/app.bundle.css"></script>*@
@*<script src="~/ProjectJs/User/InsertUpdateUser.js" asp-append-version=true></script>*@